<h1>Kitchen Sink Demo Page</h1>
<%= form_for @kitchen_sink, builder: EtGdsDesignSystem.form_builder_class do |f| %>
  <h2>Text Field</h2>
  <div>
    <%= f.text_field :text_field_value %>
  </div>

<% end %>
